<div class="page-header">
    <h2 itemprop="name">
Pauta de evaluación de los talleres			</h2>
                    </div>




                <div itemprop="articleBody">
<p>1.- Nombre o Título del Taller:</p>
<table style="width: 95%; margin-left: auto; margin-right: auto;" border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p> </p>
<p> </p>
</td>
</tr>
</tbody>
</table>
<p>2.- Curso o Grupo de Instructores con  quienes  desarrollo el Taller.</p>
<table style="width: 95%; margin-left: auto; margin-right: auto;" border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p> </p>
<p> </p>
</td>
</tr>
</tbody>
</table>
<p>3.-Nº total de Adultos Mayores que tomó parte en el Taller</p>
<table style="width: 95%; margin-left: auto; margin-right: auto;" border="1" cellspacing="0">
<tbody>
<tr>
<td>
<p> </p>
<p> </p>
</td>
</tr>
</tbody>